// @use-prefix

.Test2 {
  border-radius: 2px;
  border: 3px solid rgb(238, 236, 236);
  font-size: 30px;
  padding: 10px 56px 4px;
  display: inline-block;
  background-color: transparent;
  position: relative;

  .Inner {
    display: none;

    .Icon {
      display: none;
    }
  }

  ::placeholder {
    color: gray;
  }

}
